<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mailgunAPIPath</key>
	<string>https://api:key-&lt;YOUR API&gt;@api.mailgun.net/v3/&lt;YOUR SANDBOX ADDRESS&gt;/messages?</string>
</dict>
</plist>
